@font-face {
    font-family: 'iconfont';
    /* project id 2382899 */
    src: url('//at.alicdn.com/t/font_2382899_xx8cgs1pjfb.eot');
    src: url('//at.alicdn.com/t/font_2382899_xx8cgs1pjfb.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_2382899_xx8cgs1pjfb.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_2382899_xx8cgs1pjfb.woff') format('woff'),
        url('//at.alicdn.com/t/font_2382899_xx8cgs1pjfb.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_2382899_xx8cgs1pjfb.svg#iconfont') format('svg');
}